

.pageWrapper {
  width: 100%;
  height: 100%;
}

.btnRow {
  width: 100%;
  height:14%;
}

.btnSpan {
  width: 100%;
  height: 14%;
}

.notesBtn {
  width: 33%;
  height: 100%;
}

.synthBtn {
  width: 33%;
  height: 100%;
}

.fxBtn {
  width: 33%;
  height: 100%;
}

.playControlls{
  text-align: center;
}

.payControllsRow{
  width: 100%;
  height: 100%;
  text-align: center;
}

.playBtn{
  width: 30%;
  height: 100%; 
  display: inline-block;
}

.refreshBtn{
  width: 30%;
  height: 100%;
  display: inline-block;
}

